<h1>Legal Notice</h1>
<p>
  Information required under section 5(1) of the German Telemedia Act
  (Telemediengesetz – TMG)
</p>
<h2>DRM Datenraum Mobilität GmbH</h2>
<p>
  <b>Postal address:</b><br />Karolinenplatz 4<br />c/o acatech – Deutsche
  Akademie der Technikwissenschaften e.V.<br />80333 Munich, Germany
</p>
<p>
  <b>Contact</b><br />Tel.: +49 89 520309-0<br />E-mail:
  <a href="mailto:contact@mobility-dataspace.eu"
    >contact@mobility-dataspace.eu</a
  >
</p>
<p>
  Represented by:<br />Manfred Rauhmeier, Michael Schäfer, Dr. Tobias Miethaner
</p>
<p>Registered with<br />Munich Local Court<br />under HRB 267003</p>
<p><b>VAT identification number</b><br />DE 345960882</p>
