<div class="flex flex-row justify-between space-x-[10px]">
  <div class="mat-card-header" mat-dialog-title removeClass="mat-dialog-title">
    <mat-icon
      *ngIf="data.type === 'asset-details'"
      class="mat-card-avatar-icon">
      upload
    </mat-icon>
    <icon-with-online-status
      *ngIf="data.type === 'broker-data-offer'"
      mainIcon="sim_card"
      [onlineStatus]="data.brokerDataOffer!!.connectorOnlineStatus">
    </icon-with-online-status>
    <mat-icon
      *ngIf="data.type === 'contract-agreement'"
      class="mat-card-avatar-icon">
      {{
        data.contractAgreement!!.direction === 'PROVIDING'
          ? 'upload'
          : 'download'
      }}
    </mat-icon>
    <contract-offer-icon
      *ngIf="data.type === 'data-offer'"
      [dataOffer]="data.dataOffer!"></contract-offer-icon>
    <div class="mat-card-header-text">
      <div class="mat-card-title">
        {{ asset.title }}
      </div>
      <div class="mat-card-subtitle">
        {{ asset.creatorOrganizationName }}
      </div>
    </div>
  </div>
  <div
    *ngIf="data.showDeleteButton || data.showEditButton"
    class="flex flex-row">
    <button
      *ngIf="data.showEditButton"
      class="hover:!bg-[#EDEDED]"
      mat-icon-button
      matTooltip="Edit"
      (click)="onEditClick()">
      <mat-icon class="mat-icon-[22px]">edit</mat-icon>
    </button>
    <button
      *ngIf="data.showDeleteButton"
      class="hover:!bg-[#EDEDED]"
      mat-icon-button
      matTooltip="Delete"
      (click)="onDeleteClick()">
      <mat-icon class="mat-icon-[22px]">delete</mat-icon>
    </button>
  </div>
</div>

<div class="flex flex-col space-y-[10px]" mat-dialog-content>
  <!-- Progress Bar -->
  <mat-progress-bar
    *ngIf="showProgressBar"
    color="primary"
    mode="indeterminate"></mat-progress-bar>

  <!-- Description -->
  <markdown-description
    class="pt-3"
    [description]="asset.description"></markdown-description>

  <div>
    <hr class="h-px my-5 bg-gray-200 border-0" />
  </div>

  <!-- Tag List -->
  <div *ngIf="asset.keywords?.length">
    <mat-chip-list aria-label="Tags">
      <mat-chip *ngFor="let keyword of asset.keywords">{{ keyword }}</mat-chip>
    </mat-chip-list>
  </div>

  <!-- Transfer History -->
  <ng-container *ngIf="data.type === 'contract-agreement'">
    <div
      class="flex flex-row flex-wrap property-grid-group-title"
      [style.margin-top.px]="30">
      Transfer History
    </div>
    <transfer-history-mini-list [contractAgreement]="data.contractAgreement!!">
    </transfer-history-mini-list>
  </ng-container>

  <!-- Properties -->
  <property-grid-group class="mt-[15px]" [propGroups]="propGroups">
  </property-grid-group>

  <!-- Contract Offers -->
  <contract-offer-mini-list
    *ngIf="data.type === 'data-offer'"
    [data]="data.dataOffer!"
    (negotiateClick)="onNegotiateClick($event)">
  </contract-offer-mini-list>
</div>

<mat-dialog-actions>
  <div class="w-full flex flex-row justify-end">
    <div class="flex gap-1 items-center">
      <button mat-button [mat-dialog-close]="null" [disabled]="loading">
        Close
      </button>

      <ng-container
        *ngIf="
          data.type === 'data-offer' &&
          data.dataOffer!.contractOffers.length === 1
        ">
        <button
          *ngIf="data.asset.isOwnConnector"
          disabled
          mat-raised-button
          matTooltip="Cannot negotiate contracts with your own connector.">
          Negotiate
        </button>

        <button
          *ngIf="!data.asset.isOwnConnector"
          mat-raised-button
          color="primary"
          [disabled]="
            contractNegotiationService.negotiationState(
              data.dataOffer!.contractOffers[0]
            ) != 'ready'
          "
          [ngSwitch]="
            contractNegotiationService.negotiationState(
              data.dataOffer!.contractOffers[0]
            )
          "
          (click)="onNegotiateClick(data.dataOffer!.contractOffers[0])">
          <ng-container *ngSwitchCase="'ready'">Negotiate</ng-container>
          <ng-container *ngSwitchCase="'negotiating'">
            Negotiating...
          </ng-container>
          <ng-container *ngSwitchCase="'negotiated'">
            Successfully Negotiated
          </ng-container>
        </button>
      </ng-container>

      <button
        *ngIf="
          data.type === 'contract-agreement' &&
          data.contractAgreement?.direction === 'CONSUMING'
        "
        mat-raised-button
        color="primary"
        [matTooltip]="data.contractAgreement?.statusTooltipText ?? ''"
        [disabled]="!data.contractAgreement?.canTransfer"
        (click)="onTransferClick()">
        Transfer
      </button>
    </div>
  </div>
</mat-dialog-actions>
