<mat-card class="grow !flex flex-col justify-start items-center">
  <div class="flex flex-col justify-center items-center" style="height: 120px">
    <mat-progress-spinner
      *ngIf="kpi.isLoading"
      style="width: 80px; height: 80px"
      diameter="80"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>

    <edc-demo-error-state
      *ngIf="kpi.isError"
      [error]="kpi.errorOrUndefined?.error"
      [errorMessage]="kpi.error.failureMessage"></edc-demo-error-state>
    <div *ngIf="kpi.isLoading || kpi.isReady" class="text-slate">
      {{ label }}
    </div>

    <div
      *ngIf="kpi.isReady"
      class="flex flex-col justify-center items-center overflow-hidden w-full"
      style="height: 80px">
      <span [style.font-size.px]="fontSize(kpi.data)">{{
        kpi.data | number
      }}</span>
    </div>
  </div>
</mat-card>
