# This file is for unifying the coding style for different editors and IDEs
# See editorconfig.org
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4
ij_continuation_indent_size = 4

[*.ts]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.java]
max_line_length = 140
ij_continuation_indent_size = 8
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_after_package = 1
ij_java_line_comment_add_space = true
ij_java_imports_layout = *,|,java.**,javax.**,|,$*
ij_java_class_count_to_use_import_on_demand = 999
ij_java_doc_align_param_comments = false


[{*.kt,*.kts}]
ij_kotlin_imports_layout = *, java.**, javax.**, kotlin.**, ^
ij_kotlin_packages_to_use_import_on_demand = explicitly-none
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_continuation_indent_size = 4

