version: "3.8"
services:
  edc-ui:
    image: ${DEV_EDC_UI_IMAGE}
    ports:
      - '11000:80'
    environment:
      - EDC_UI_ACTIVE_PROFILE=${EDC_UI_ACTIVE_PROFILE}
      - EDC_UI_CONFIG_URL=edc-ui-config
      - EDC_UI_DATA_MANAGEMENT_API_URL=http://localhost:11002/api/v1/management/v2
      - EDC_UI_DATA_MANAGEMENT_API_KEY=ApiKeyDefaultValue
      - EDC_UI_CATALOG_URLS=http://edc2:11003/api/v1/ids/data
  edc:
#    image: ${DEV_EDC_IMAGE}
    build:
      dockerfile: connector/Dockerfile
      args:
        JVM_ARGS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
        BUILD_ARGS: -Pfs-vault -Pdmgmt-api-key -Ppostgres-flyway -Poauth
    depends_on:
      - postgresql
    environment:
      MY_EDC_NAME_KEBAB_CASE: "example-connector"
      MY_EDC_TITLE: "EDC Connector"
      MY_EDC_DESCRIPTION: "sovity Community Edition EDC Connector"
      MY_EDC_CURATOR_URL: "https://example.com"
      MY_EDC_CURATOR_NAME: "Example GmbH"
      MY_EDC_MAINTAINER_URL: "https://sovity.de"
      MY_EDC_MAINTAINER_NAME: "sovity GmbH"

      # Extension Configuration
      BROKER_CLIENT_EXTENSION_ENABLED: true
      CLEARINGHOUSE_CLIENT_EXTENSION_ENABLED: true

      # Data Management API Key
      EDC_API_AUTH_KEY: ApiKeyDefaultValue

      # Data Space Configuration
      EDC_OAUTH_CLIENT_ID: ${EDC_OAUTH_CLIENT_ID}
      EDC_OAUTH_TOKEN_URL: https://daps.test.mobility-dataspace.eu/token
      EDC_OAUTH_PROVIDER_JWKS_URL: https://daps.test.mobility-dataspace.eu/jwks.json
      EDC_BROKER_BASE_URL: https://broker.test.mobility-dataspace.eu
      EDC_CLEARINGHOUSE_LOG_URL: https://clearing.test.mobility-dataspace.eu/messages/log
      EDC_KEYSTORE: /secrets/keystore.jks
      EDC_KEYSTORE_PASSWORD: password
      EDC_OAUTH_CERTIFICATE_ALIAS: 1
      EDC_OAUTH_PRIVATE_KEY_ALIAS: 1

      MY_EDC_PROTOCOL: "http://"
      MY_EDC_FQDN: "edc"
      MY_EDC_IDS_BASE_URL: "http://edc:11003"

      MY_EDC_JDBC_URL: jdbc:postgresql://postgresql:5432/edc
      MY_EDC_JDBC_USER: edc
      MY_EDC_JDBC_PASSWORD: edc
      EDC_WEB_REST_CORS_ENABLED: 'true'
      EDC_WEB_REST_CORS_HEADERS: 'origin,content-type,accept,authorization,x-api-key'
      EDC_WEB_REST_CORS_ORIGINS: '*'

      EDC_PARTICIPANT_ID: provider
      EDC_JSONLD_HTTPS_ENABLED: true
      EDC_DSP_CALLBACK_ADDRESS: http://edc:11003/api/v1/ids
    ports:
      - '11001:11001'
      - '11002:11002'
      - '11003:11003'
      - '11004:11004'
      - '11005:5005'
    volumes:
      - ./docs/getting-started/secrets:/secrets
  postgresql:
    image: docker.io/bitnami/postgresql:11
    restart: always
    environment:
      POSTGRESQL_USERNAME: edc
      POSTGRESQL_PASSWORD: edc
      POSTGRESQL_DATABASE: edc
    ports:
      - '54321:5432'
    volumes:
      - 'postgresql:/bitnami/postgresql'

  edc-ui2:
    image: ${DEV_EDC_UI_IMAGE}
    ports:
      - '22000:80'
    environment:
      - EDC_UI_ACTIVE_PROFILE=${EDC_UI_ACTIVE_PROFILE}
      - EDC_UI_CONFIG_URL=edc-ui-config
      - EDC_UI_DATA_MANAGEMENT_API_URL=http://localhost:22002/api/v1/management/v2
      - EDC_UI_DATA_MANAGEMENT_API_KEY=ApiKeyDefaultValue
      - EDC_UI_CATALOG_URLS=http://edc:11003/api/v1/ids/data
  edc2:
    build:
      dockerfile: connector/Dockerfile
      args:
        JVM_ARGS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
        BUILD_ARGS: -Pfs-vault -Pdmgmt-api-key -Ppostgres-flyway -Poauth
    depends_on:
      - postgresql2
    environment:
      MY_EDC_NAME_KEBAB_CASE: "example-connector"
      MY_EDC_TITLE: "EDC Connector"
      MY_EDC_DESCRIPTION: "sovity Community Edition EDC Connector"
      MY_EDC_CURATOR_URL: "https://example.com"
      MY_EDC_CURATOR_NAME: "Example GmbH"
      MY_EDC_MAINTAINER_URL: "https://sovity.de"
      MY_EDC_MAINTAINER_NAME: "sovity GmbH"

      # Extension Configuration
      BROKER_CLIENT_EXTENSION_ENABLED: true
      CLEARINGHOUSE_CLIENT_EXTENSION_ENABLED: true

      # Data Management API Key
      EDC_API_AUTH_KEY: ApiKeyDefaultValue

      # Data Space Configuration
      EDC_OAUTH_CLIENT_ID: ${EDC_OAUTH_CLIENT_ID}
      EDC_OAUTH_TOKEN_URL: https://daps.test.mobility-dataspace.eu/token
      EDC_OAUTH_PROVIDER_JWKS_URL: https://daps.test.mobility-dataspace.eu/jwks.json
      EDC_BROKER_BASE_URL: https://broker.test.mobility-dataspace.eu
      EDC_CLEARINGHOUSE_LOG_URL: https://clearing.test.mobility-dataspace.eu/messages/log
      EDC_KEYSTORE: /secrets/keystore.jks
      EDC_KEYSTORE_PASSWORD: password
      EDC_OAUTH_CERTIFICATE_ALIAS: 1
      EDC_OAUTH_PRIVATE_KEY_ALIAS: 1

      MY_EDC_PROTOCOL: "http://"
      MY_EDC_FQDN: "edc2"
      MY_EDC_IDS_BASE_URL: "http://edc2:11003"

      MY_EDC_JDBC_URL: jdbc:postgresql://postgresql2:5432/edc
      MY_EDC_JDBC_USER: edc
      MY_EDC_JDBC_PASSWORD: edc
      EDC_WEB_REST_CORS_ENABLED: 'true'
      EDC_WEB_REST_CORS_HEADERS: 'origin,content-type,accept,authorization,x-api-key'
      EDC_WEB_REST_CORS_ORIGINS: '*'

      EDC_PARTICIPANT_ID: consumer
      EDC_JSONLD_HTTPS_ENABLED: true
      EDC_DSP_CALLBACK_ADDRESS: http://edc2:11003/api/v1/ids
    ports:
      - '22001:11001'
      - '22002:11002'
      - '22003:11003'
      - '22004:11004'
      - '22005:5005'
    volumes:
      - ./docs/getting-started/secrets:/secrets
  postgresql2:
    image: docker.io/bitnami/postgresql:11
    restart: always
    environment:
      POSTGRESQL_USERNAME: edc
      POSTGRESQL_PASSWORD: edc
      POSTGRESQL_DATABASE: edc
    volumes:
      - 'postgresql2:/bitnami/postgresql'

volumes:
  postgresql:
    driver: local
  postgresql2:
    driver: local
