version: "3.8"
services:
  edc-ui:
    image: ghcr.io/sovity/edc-ui:0.0.1-milestone-8-sovity2
    ports:
      - '11000:80'
    environment:
      - EDC_UI_ACTIVE_PROFILE=mds-open-source
      - EDC_UI_CONFIG_URL=edc-ui-config
      - EDC_UI_DATA_MANAGEMENT_API_URL=http://localhost:11002/api/v1/management
      - EDC_UI_DATA_MANAGEMENT_API_KEY=ApiKeyDefaultValue
      - EDC_UI_CATALOG_URLS=http://edc:11003/api/v1/ids/data
  edc:
    image: ghcr.io/sovity/edc-mds:2.0.3
    depends_on:
      - postgresql
    environment:
      # Basic Configuration
      EDC_CONNECTOR_NAME: 'example-connector'
      EDC_IDS_ID: urn:connector:example-connector
      EDC_IDS_TITLE: 'Example GmbH EDC Connector'
      EDC_IDS_DESCRIPTION: 'Community Edition EDC Connector built by sovity with open-source extensions.'
      EDC_IDS_CURATOR: https://example-gmbh.com
      EDC_UI_CURATOR_ORGANIZATION_NAME: Example GmbH
      EDC_HOSTNAME: edc
      IDS_WEBHOOK_ADDRESS: http://edc:11003
      EDC_IDS_ENDPOINT: http://edc:11003/api/v1/ids
      EDC_API_AUTH_KEY: ApiKeyDefaultValue

      # Data Space Configuration
      EDC_OAUTH_CLIENT_ID: 7F:76:FB:19:E7:FA:72:31:89:1C:96:69:E2:81:F0:BE:C4:50:B2:94:keyid:6D:2B:39:5A:A7:7A:BA:F4:9D:95:DA:AF:8C:42:9F:C8:8A:68:18:87
      EDC_KEYSTORE: /resources/vault/edc/keystore.jks
      EDC_OAUTH_TOKEN_URL: https://daps.test.mobility-dataspace.eu/token
      EDC_OAUTH_PROVIDER_JWKS_URL: https://daps.test.mobility-dataspace.eu/jwks.json
      EDC_BROKER_BASE_URL: https://broker.test.mobility-dataspace.eu
      EDC_CLEARINGHOUSE_LOG_URL: https://clearing.test.mobility-dataspace.eu/messages/log

      # Deployment Configuration
      WEB_HTTP_PORT: 11001
      WEB_HTTP_PATH: /api
      WEB_HTTP_MANAGEMENT_PORT: 11002
      WEB_HTTP_MANAGEMENT_PATH: /api/v1/management
      WEB_HTTP_PROTOCOL_PORT: 11003
      WEB_HTTP_PROTOCOL_PATH: /api/v1/ids
      WEB_HTTP_CONTROL_PORT: 11004
      WEB_HTTP_CONTROL_PATH: /api/v1/control
      EDC_IDS_MAINTAINER: https://sovity.de
      EDC_UI_MAINTAINER_ORGANIZATION_NAME: sovity GmbH
      EDC_WEB_REST_CORS_ENABLED: 'true'
      EDC_WEB_REST_CORS_HEADERS: 'origin,content-type,accept,authorization,x-api-key'
      EDC_WEB_REST_CORS_ORIGINS: '*'
      EDC_VAULT: /resources/vault/edc/vault.properties
      EDC_KEYSTORE_PASSWORD: password
      EDC_OAUTH_CERTIFICATE_ALIAS: 1
      EDC_OAUTH_PRIVATE_KEY_ALIAS: 1
      EDC_OAUTH_PROVIDER_AUDIENCE: idsc:IDS_CONNECTORS_ALL
      EDC_FLYWAY_POSTGRES_JDBC_URL: jdbc:postgresql://postgresql:5432/edc
      EDC_FLYWAY_POSTGRES_JDBC_USER: edc
      EDC_FLYWAY_POSTGRES_JDBC_PASSWORD: edc

      # Extension Configuration
      POLICY_BROKER_BLACKLIST: REFERRING_CONNECTOR
    ports:
      - '11001:11001'
      - '11002:11002'
      - '11003:11003'
      - '11004:11004'
      - '5005:5005'
    volumes:
      - ./resources:/resources
  postgresql:
    image: docker.io/bitnami/postgresql:11
    restart: always
    environment:
      POSTGRESQL_USERNAME: edc
      POSTGRESQL_PASSWORD: edc
      POSTGRESQL_DATABASE: edc
    volumes:
      - 'postgresql:/bitnami/postgresql'

volumes:
  postgresql:
    driver: local
