<div id="edit-asset-form">
  <form class="flex flex-col gap-y-12 mt-4" [formGroup]="form.all">
    <edit-asset-form-group
      *ngIf="form.datasource"
      [myTitle]="'asset_list_page.datasource' | translate"
      [description]="'create_data_offer.def_datasrc' | translate">
      <!-- Datasource Type -->
      <div *ngIf="multipleDataSourceOptionsAvailable()">
        <edit-asset-form-label
          htmlFor="create-asset-form-datasource-type"
          [label]="'create_data_offer.data_type' | translate"
          [ctrl]="
            form.datasource.controls.dataSourceAvailability
          "></edit-asset-form-label>
        <mat-radio-group
          class="!flex !flex-col !gap-1 w-full mt-2"
          aria-label="Select an option"
          [formControl]="form.datasource.controls.dataSourceAvailability">
          <mat-radio-button *ngIf="form.mode === 'EDIT'" value="Unchanged">
            Keep the datasource unchanged.
          </mat-radio-button>
          <mat-radio-button value="Datasource">
            Readily available with a new data source
          </mat-radio-button>
          <mat-radio-button
            *ngIf="this.activeFeatureSet.hasMdsFields()"
            value="On-Request">
            On Request
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <ng-container
        *ngIf="form.datasource.value.dataSourceAvailability === 'On-Request'">
        <!-- Contact E-Mail for On Request Assets -->
        <edit-asset-form-input
          class="mt-2"
          fieldId="create-asset-form-contact-email"
          placeholder="{{
            'create_data_offer.contact_email_placeholder' | translate
          }}"
          tooltip="'contact_form.contact_email_tooltip' | translate"
          [label]="'create_data_offer.contact_email' | translate"
          [ctrl]="
            form.datasource.controls.contactEmail
          "></edit-asset-form-input>

        <!-- Contact E-Mail Subject for On Request Assets -->
        <edit-asset-form-input
          class="mt-5"
          fieldId="create-asset-form-contact-subject"
          label="Preferred E-Mail Subject"
          placeholder="Data Offer 'xyz'"
          tooltip="'contact_form.contact_subject_tooltip' | translate"
          [ctrl]="form.datasource.controls.contactPreferredEmailSubject">
        </edit-asset-form-input>
      </ng-container>

      <ng-container
        *ngIf="
          form.datasource.controls.dataSourceAvailability.value === 'Datasource'
        ">
        <!-- Data Address Type -->
        <div class="mt-5">
          <edit-asset-form-data-address-type-select
            mode="Datasource-Create"
            [label]="'general.type' | translate"
            [control]="form.datasource.controls.dataAddressType">
          </edit-asset-form-data-address-type-select>
        </div>

        <!-- Data Source Type CUSTOM -->
        <edit-asset-form-textarea
          *ngIf="
            form.dataAddressType === 'Custom-Data-Address-Json' &&
              form.datasource.controls.dataDestination;
            let ctrl
          "
          label="Custom Datasource Config (JSON)"
          fieldId="create-asset-form-custom-datasource-json"
          placeholder='{"https://w3id.org/edc/v0.0.1/ns/type": "HttpData", ...}'
          [ctrl]="ctrl"></edit-asset-form-textarea>

        <!-- Data Source Type HTTP -->
        <ng-container *ngIf="form.dataAddressType === 'Http'">
          <!-- Method (Rest-Api) -->
          <div>
            <edit-asset-form-label
              htmlFor="create-asset-form-http-method"
              [label]="'general.method' | translate"
              [ctrl]="
                form.datasource.controls.httpMethod
              "></edit-asset-form-label>
            <mat-form-field
              *ngIf="form.datasource.controls.httpMethod; let ctrl"
              class="w-full">
              <mat-select
                id="create-asset-form-http-method"
                [formControl]="ctrl">
                <mat-option *ngFor="let method of methods" [value]="method"
                  >{{ method }}
                </mat-option>
              </mat-select>
              <mat-hint class="mat-hint">
                {{ 'asset_list_page.provide' | translate }}
              </mat-hint>
            </mat-form-field>
            <!-- Toggle Method Parametrization Button -->
            <div
              *ngIf="form.datasource.controls.httpProxyMethod; let ctrl"
              class="mt-1 flex flex-col gap-1">
              <button
                class="w-min"
                mat-button
                [color]="ctrl.value ? 'warn' : 'accent'"
                (click)="$event.preventDefault(); ctrl.setValue(!ctrl.value)">
                {{
                  ctrl.value
                    ? ('general.disable' | translate)
                    : ('general.enable' | translate)
                }}
                {{ 'asset_list_page.method_para' | translate }}
              </button>
            </div>
          </div>

          <!-- Base Path (Rest-Api) -->
          <div *ngIf="form.datasource.controls.httpUrl; let ctrl" class="mt-4">
            <edit-asset-form-input
              fieldId="create-asset-form-url"
              placeholder="https://my-data-source.com/api"
              [hideHint]="!form.proxyPath"
              [ctrl]="ctrl"
              [label]="form.proxyPath ? 'Base URL' : 'URL'"
              >{{ 'asset_list_page.http_subpath' | translate }}
            </edit-asset-form-input>

            <!-- Toggle Proxy Path Button -->
            <div
              *ngIf="form.datasource.controls.httpProxyPath; let ctrl"
              [ngClass]="ctrl.value ? 'mt-4' : '-mt-2'">
              <button
                mat-button
                [color]="ctrl.value ? 'warn' : 'accent'"
                (click)="$event.preventDefault(); ctrl.setValue(!ctrl.value)">
                {{
                  ctrl.value
                    ? ('general.disable' | translate)
                    : ('general.enable' | translate)
                }}
                {{ 'asset_list_page.method_para' | translate }}
              </button>
            </div>
          </div>

          <div class="mt-3">
            <edit-asset-form-label
              [label]="
                (form.proxyQueryParams ? 'Default' : '') +
                ('asset_list_page.query_para' | translate)
              "></edit-asset-form-label>
            <div class="mt-6"></div>
            <div
              *ngFor="
                let header of form.datasource.controls.httpQueryParams.controls;
                let i = index
              "
              class="flex flex-row space-x-[10px] -mt-3">
              <!-- Query Param Name -->
              <mat-form-field class="w-1/3">
                <input
                  matInput
                  placeholder="q"
                  required
                  autocomplete="new-query-param-name"
                  [formControl]="header.controls.paramName" />
                {{ header.errors }}
                <mat-error
                  *ngIf="
                    header.controls.paramName.invalid &&
                    header.controls.paramName.errors?.invalidQueryParam
                  "
                  >{{ validationMessages.invalidQueryParam }}
                </mat-error>
              </mat-form-field>
              <!-- Query Param Value -->
              <mat-form-field class="grow">
                <input
                  matInput
                  placeholder="..."
                  autocomplete="new-query-param-value"
                  [formControl]="header.controls.paramValue" />
                <mat-error
                  *ngIf="
                    header.controls.paramValue.invalid &&
                    header.controls.paramValue.errors?.invalidQueryParam
                  "
                  >{{ validationMessages.invalidQueryParam }}
                </mat-error>
              </mat-form-field>
              <!-- Query Param Delete Button -->
              <button
                class="shrink"
                mat-button
                color="warn"
                style="height: 42px; margin-top: 4px; margin-left: 8px"
                (click)="form.onHttpQueryParamsRemoveClick($event, i)">
                {{ 'general.remove' | translate }}
              </button>
            </div>
            <mat-hint *ngIf="form.proxyQueryParams" class="mat-hint">
              With query param parameterization enabled, the default query
              params and the query params provided by the consumer will be
              merged.
            </mat-hint>
            <div class="flex flex-row mb-[10px] space-x-[10px] mt-2">
              <!-- Add Query Param Button -->
              <button
                mat-button
                color="accent"
                (click)="form.onHttpQueryParamsAddClick($event)">
                {{ 'general.add' | translate }}
                {{ form.proxyQueryParams ? 'Default' : '' }}
                {{ 'asset_list_page.query_para_single' | translate }}
              </button>
              <!-- Toggle Proxy Query Param Parameterization Button -->
              <button
                *ngIf="form.datasource.controls.httpProxyQueryParams; let ctrl"
                mat-button
                [color]="ctrl.value ? 'warn' : 'accent'"
                (click)="$event.preventDefault(); ctrl.setValue(!ctrl.value)">
                {{
                  ctrl.value
                    ? ('general.disable' | translate)
                    : ('general.enable' | translate)
                }}
                {{ 'asset_list_page.query_parameter' | translate }}
              </button>
            </div>
          </div>

          <div class="flex flex-col gap-1 mt-3">
            <edit-asset-form-label
              label="{{
                'asset_list_page.request_body' | translate
              }}"></edit-asset-form-label>
            <mat-hint class="mat-hint">
              {{ 'asset_list_page.info_body' | translate }}
            </mat-hint>
            <!-- Toggle Proxy Body Button -->
            <div
              *ngIf="form.datasource.controls.httpProxyBody; let ctrl"
              class="flex flex-row mb-[10px]">
              <button
                mat-button
                [color]="ctrl.value ? 'warn' : 'accent'"
                (click)="$event.preventDefault(); ctrl.setValue(!ctrl.value)">
                {{
                  ctrl.value
                    ? ('general.disable' | translate)
                    : ('general.enable' | translate)
                }}
                {{ 'asset_list_page.request_para' | translate }}
              </button>
            </div>
          </div>

          <div class="flex flex-col gap-1 mt-3">
            <edit-asset-form-label
              [label]="'general.auth' | translate"></edit-asset-form-label>
            <!-- Add Authentication Button -->
            <div
              *ngIf="
                form.datasource.controls.httpAuthHeaderType.value === 'None'
              "
              class="flex flex-row">
              <button
                mat-button
                color="accent"
                (click)="
                  form.datasource.controls.httpAuthHeaderType.setValue(
                    'Vault-Secret'
                  )
                ">
                {{ 'general.add' | translate }} {{ 'general.auth' | translate }}
              </button>
            </div>
            <!-- Auth Header Value Type -->
            <mat-form-field
              *ngIf="
                form.datasource.controls.httpAuthHeaderType.value !== 'None'
              "
              class="grow mt-4">
              <mat-label>{{ 'general.type' | translate }}</mat-label>
              <mat-select
                [formControl]="form.datasource.controls.httpAuthHeaderType">
                <mat-option value="Vault-Secret">
                  {{ 'general.header_sec' | translate }}
                </mat-option>
                <mat-option value="Value">{{
                  'general.header_val' | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="
                form.datasource.controls.httpAuthHeaderType.value !== 'None'
              "
              class="flex flex-row space-x-[10px] -mt-3">
              <!-- Auth Header Name -->
              <mat-form-field class="w-1/3">
                <input
                  matInput
                  placeholder="Authorization"
                  autocomplete="new-auth-header-name"
                  [formControl]="form.datasource.controls.httpAuthHeaderName" />
              </mat-form-field>
              <!-- Auth Header Value -->
              <mat-form-field
                *ngIf="
                  form.datasource.controls.httpAuthHeaderType.value === 'Value'
                "
                class="grow">
                <input
                  matInput
                  placeholder="Bearer ..."
                  [formControl]="
                    form.datasource.controls.httpAuthHeaderValue
                  " />
              </mat-form-field>
              <!-- Auth Header Secret Name -->
              <mat-form-field
                *ngIf="
                  form.datasource.controls.httpAuthHeaderType.value ===
                  'Vault-Secret'
                "
                class="grow">
                <mat-label>{{ 'general.vault_secret' | translate }}</mat-label>
                <input
                  matInput
                  placeholder="MySecret123"
                  [formControl]="
                    form.datasource.controls.httpAuthHeaderSecretName
                  " />
              </mat-form-field>
            </div>
            <!-- Remove Authentication Button -->
            <div
              *ngIf="
                form.datasource.controls.httpAuthHeaderType.value !== 'None'
              "
              class="flex flex-row -mt-4">
              <button
                mat-button
                color="warn"
                (click)="
                  form.datasource.controls.httpAuthHeaderType.setValue('None')
                ">
                {{ 'general.remove' | translate }}
                {{ 'general.auth' | translate }}
              </button>
            </div>
          </div>

          <div class="mt-4">
            <edit-asset-form-label
              label="{{
                'general.add_header' | translate
              }}"></edit-asset-form-label>
            <div class="mt-8"></div>
            <div
              *ngFor="
                let header of form.datasource.controls.httpHeaders.controls;
                let i = index
              "
              class="flex flex-row space-x-[10px] -mt-3">
              <!-- Header Name -->
              <mat-form-field class="w-1/3">
                <input
                  matInput
                  placeholder="Accept"
                  autocomplete="new-header-name"
                  [formControl]="header.controls.headerName" />
              </mat-form-field>
              <!-- Header Value -->
              <mat-form-field class="grow">
                <input
                  matInput
                  placeholder="..."
                  autocomplete="new-header-value"
                  [formControl]="header.controls.headerValue" />
              </mat-form-field>
              <!-- Header Delete Button -->
              <button
                mat-button
                color="warn"
                style="height: 42px; margin-top: 4px; margin-left: 8px"
                (click)="form.onHttpHeadersRemoveClick($event, i)">
                {{ 'general.remove' | translate }}
              </button>
            </div>
            <!-- Add Header Button -->
            <div class="flex flex-row -mt-3">
              <button
                mat-button
                color="accent"
                (click)="form.onHttpHeadersAddClick($event)">
                {{ 'general.add' | translate }}
                {{ 'general.add_header' | translate }}
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </edit-asset-form-group>

    <edit-asset-form-group
      [myTitle]="'asset_list_page.information' | translate"
      [description]="'asset_list_page.information_desc' | translate">
      <!-- Title -->
      <edit-asset-form-input
        fieldId="create-asset-form-name"
        tooltip="The main title of your asset. It will also be the title of the data offering displayed in the catalog."
        [label]="'asset_list_page.name' | translate"
        [placeholder]="'asset_list_page.my_asset' | translate"
        [ctrl]="form.general.controls.name"></edit-asset-form-input>

      <!-- Asset ID -->
      <edit-asset-form-input
        *ngIf="form.general.controls.id; let ctrl"
        fieldId="create-asset-form-id"
        tooltip="Asset ID, used internally, is an auto-generated string in a URL-compatible format, combining the asset name and version with a urn:artifact: prefix. You can customize it if needed."
        [placeholder]="'asset_list_page.asset_id' | translate"
        [label]="'asset_list_page.asset_id' | translate"
        [ctrl]="ctrl"></edit-asset-form-input>

      <!-- Description -->
      <edit-asset-form-textarea
        fieldId="create-asset-form-description"
        [label]="'asset_list_page.file_des' | translate"
        [placeholder]="
          '# My Asset\n\nAt vero eos et accusam et justo duo dolores et ea rebum.\n\n## Details\n\nAt vero eos et accusam et justo duo dolores et ea **rebum**.'
        "
        [ctrl]="form.general.controls.description">
        <div class="flex flex-row items-center gap-1 mb-1">
          {{ 'asset_list_page.descrip' | translate }}
          <a
            class="link"
            externalLink
            href="https://www.markdownguide.org/basic-syntax/"
            >Markdown syntax</a
          >
        </div>
      </edit-asset-form-textarea>

      <!-- Keywords -->
      <div class="mt-3">
        <keyword-select
          [label]="'asset_list_page.keywords' | translate"
          [control]="form.general.controls.keywords"></keyword-select>
      </div>

      <!-- Show Advanced Fields -->
      <mat-checkbox [formControl]="form.general.controls.showAdvancedFields">{{
        'general.show_adv_fields' | translate
      }}</mat-checkbox>

      <ng-container *ngIf="form.general.value.showAdvancedFields">
        <!-- Version -->
        <edit-asset-form-input
          class="mt-4"
          fieldId="create-asset-form-version"
          placeholder="1.0.0"
          tooltip="The version of your asset. Especially useful if you have iterations of the same asset."
          [label]="'asset_list_page.version' | translate"
          [ctrl]="form.general.controls.version"></edit-asset-form-input>

        <!-- Language -->
        <language-select
          [label]="'general.language' | translate"
          [control]="form.general.controls.language"></language-select>
      </ng-container>
    </edit-asset-form-group>

    <edit-asset-form-group
      *ngIf="form.general.controls.dataCategory"
      myTitle="Mobility Information"
      description="Fill out the asset's mobility information">
      <!-- Data Category -->
      <data-category-select
        *ngIf="form.general.controls.dataCategory"
        class="grow"
        label="Data Category"
        [control]="form.general.controls.dataCategory"></data-category-select>

      <!-- Data Subcategory -->
      <data-subcategory-select
        *ngIf="form.general.controls.dataSubcategory"
        class="grow"
        label="Data Subcategory"
        [dataCategory]="form.dataCategory"
        [control]="
          form.general.controls.dataSubcategory
        "></data-subcategory-select>

      <ng-container
        *ngIf="form.general.value.showAdvancedFields && form.advanced">
        <!-- Transport Mode -->
        <transport-mode-select
          label="Transport Mode"
          [control]="
            form.advanced.controls.transportMode
          "></transport-mode-select>

        <!-- Data Model -->
        <edit-asset-form-input
          fieldId="create-asset-form-data-model"
          label="Data Model"
          placeholder="proprietary"
          tooltip="Model for data exchange, e.g. DATEX II, TPEG for traffic and travel information, etc."
          [ctrl]="form.advanced.controls.dataModel"></edit-asset-form-input>
      </ng-container>
    </edit-asset-form-group>

    <edit-asset-form-group
      *ngIf="form.general.value.showAdvancedFields"
      description="Provide context information about the datasource"
      [myTitle]="'general.doc' | translate">
      <!-- Endpoint Documentation -->
      <edit-asset-form-input
        label="Endpoint Documentation"
        fieldId="create-asset-form-endpoint-documentation"
        placeholder="https://"
        tooltip="URL to the technical documentation about the data to be received."
        [ctrl]="
          form.general.controls.endpointDocumentation
        "></edit-asset-form-input>

      <!-- Content Type -->
      <edit-asset-form-input
        label="Content Type"
        fieldId="create-asset-form-content-type"
        placeholder="application/json"
        [contentTypeHint]="true"
        [ctrl]="form.general.controls.contentType"></edit-asset-form-input>

      <ng-container *ngIf="form.advanced">
        <!-- Data sample URLs -->
        <div class="mt-4">
          <edit-asset-form-label label="Data samples"></edit-asset-form-label>
          <button
            class="!scale-[0.9]"
            mat-icon-button
            matSuffix
            matTooltipPosition="right"
            matTooltip="URLs of Dataset samples if available">
            <mat-icon>info_outline</mat-icon>
          </button>
          <div class="mt-6"></div>
          <div
            *ngFor="
              let sample of form.advanced.controls.dataSampleUrls.controls;
              let i = index
            "
            class="flex flex-row space-x-2 -mt-2">
            <mat-form-field class="grow">
              <mat-label>URL</mat-label>
              <input
                matInput
                placeholder="https://my-org.com/my-data-offer/samples/1"
                [formControl]="sample" />
            </mat-form-field>
            <button
              mat-button
              color="warn"
              style="height: 42px; margin-top: 4px; margin-left: 8px"
              (click)="form.onDataSampleUrlsRemoveClick($event, i)">
              Remove
            </button>
          </div>
          <div class="-mt-2">
            <button
              mat-button
              color="accent"
              (click)="form.onDataSampleUrlsAddClick($event)">
              Add data sample
            </button>
          </div>
        </div>
        <!-- Reference file URLs -->
        <div class="mt-4">
          <edit-asset-form-label
            label="Reference files"></edit-asset-form-label>
          <button
            class="!scale-[0.9]"
            mat-icon-button
            matSuffix
            matTooltipPosition="right"
            matTooltip="URLs of Dataset schemas or other references">
            <mat-icon>info_outline</mat-icon>
          </button>
          <div class="mt-6"></div>
          <div
            *ngFor="
              let file of form.advanced.controls.referenceFileUrls.controls;
              let i = index
            "
            class="flex flex-row space-x-2 -mt-2">
            <mat-form-field class="grow">
              <mat-label>URL</mat-label>
              <input
                matInput
                placeholder="https://my-org.com/my-data-offer/documentation/api-reference"
                [formControl]="file" />
            </mat-form-field>
            <button
              mat-button
              color="warn"
              style="height: 42px; margin-top: 4px; margin-left: 8px"
              (click)="form.onReferenceFileUrlsRemoveClick($event, i)">
              Remove
            </button>
          </div>
          <div class="-mt-2">
            <button
              mat-button
              color="accent"
              (click)="form.onReferenceFileUrlsAddClick($event)">
              Add reference file
            </button>
          </div>
        </div>

        <!-- Description -->
        <edit-asset-form-textarea
          *ngIf="form.advanced.controls.referenceFileUrls.length"
          label="Reference files description"
          fieldId="edit-asset-form-reference-files-description"
          [ctrl]="form.advanced.controls.referenceFilesDescription"
          [placeholder]="
            '# My Asset\n\nAt vero eos et accusam et justo duo dolores et ea rebum.\n\n## Details\n\nAt vero eos et accusam et justo duo dolores et ea **rebum**.'
          ">
          <div class="flex flex-row items-center gap-1 mb-1">
            Additional information regarding the reference files. Supports
            <a
              class="link"
              externalLink
              href="https://www.markdownguide.org/basic-syntax/"
              >Markdown syntax</a
            >
          </div>
        </edit-asset-form-textarea>
      </ng-container>
    </edit-asset-form-group>

    <edit-asset-form-group
      *ngIf="form.general.value.showAdvancedFields && form.advanced"
      myTitle="Location / Time"
      description="Fill out location and time information about the asset">
      <!-- Temporal coverage -->
      <div
        *ngIf="form.advanced.controls.temporalCoverage; let ctrl"
        class="mt-4">
        <edit-asset-form-label
          label="Temporal coverage"></edit-asset-form-label>
        <mat-form-field class="w-full" color="accent">
          <mat-date-range-input [formGroup]="ctrl" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="from"
              placeholder="Start date" />
            <input
              matEndDate
              formControlName="toInclusive"
              placeholder="End date (inclusive)" />
          </mat-date-range-input>
          <mat-hint
            >Start and/or end date when the dataset is available for
            consumption. DD/MM/YYYY (optional) – DD/MM/YYYY (optional)
          </mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="ctrl.invalid"
            >{{ validationMessages.invalidDateRangeMessage }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Data update frequency -->
      <edit-asset-form-input
        class="mt-3"
        fieldId="create-asset-form-data-update-frequency"
        label="Data update frequency"
        placeholder="every month"
        tooltip="How often is the dataset updated, e.g	'Every 5 min."
        [ctrl]="
          form.advanced.controls.dataUpdateFrequency
        "></edit-asset-form-input>

      <!-- Geo reference method -->
      <edit-asset-form-input
        fieldId="create-asset-form-geo-ref-method"
        label="Geo reference method"
        placeholder="Lat/Lon"
        tooltip="The method used for representing of geographical data, e.g GeoJSON, OpenLR, etc."
        [ctrl]="
          form.advanced.controls.geoReferenceMethod
        "></edit-asset-form-input>

      <!-- Geo location -->
      <edit-asset-form-input
        fieldId="create-asset-form-geo-location"
        label="Geo location"
        placeholder="40.741895,-73.989308"
        tooltip="Simple description of the relevant geolocation, e.g. Hamburg and vicinity."
        [ctrl]="form.advanced.controls.geoLocation"></edit-asset-form-input>

      <!-- NUTS locations -->
      <div>
        <edit-asset-form-label label="NUTS locations"></edit-asset-form-label>
        <button
          class="!scale-[0.9]"
          mat-icon-button
          matSuffix
          matTooltipPosition="right"
          matTooltip="NUTS codes are regional identifiers in Germany used for statistical and administrative purposes, covering states, districts, and municipalities. (e.g DE60)">
          <mat-icon>info_outline</mat-icon>
        </button>
        <div class="mt-6"></div>
        <div
          *ngFor="
            let location of form.advanced.controls.nutsLocations.controls;
            let i = index
          "
          class="flex flex-row space-x-2 -mt-2">
          <mat-form-field class="grow">
            <mat-label>NUTS location</mat-label>
            <input matInput placeholder="DE929" [formControl]="location" />
          </mat-form-field>
          <button
            mat-button
            color="warn"
            style="height: 42px; margin-top: 4px; margin-left: 8px"
            (click)="form.onNutsLocationsRemoveClick($event, i)">
            Remove
          </button>
        </div>
        <div class="-mt-2">
          <button
            mat-button
            color="accent"
            (click)="form.onNutsLocationsAddClick($event)">
            Add location
          </button>
        </div>
      </div>
    </edit-asset-form-group>

    <edit-asset-form-group
      *ngIf="form.general.value.showAdvancedFields"
      myTitle="Legal Information"
      description="Provide legal information and define the conditions for use">
      <!-- Sovereign legal name -->
      <edit-asset-form-input
        *ngIf="form.advanced"
        label="Sovereign"
        fieldId="create-asset-form-sovereign"
        placeholder="Data Owning Company GMBH"
        tooltip="Legal name of the data owner"
        [ctrl]="
          form.advanced.controls.sovereignLegalName
        "></edit-asset-form-input>

      <!-- Publisher -->
      <edit-asset-form-input
        class="mt-3"
        label="Publisher"
        fieldId="create-asset-form-publisher"
        placeholder="https://"
        tooltip="URL of the original publisher of the data"
        [ctrl]="form.general.controls.publisher"></edit-asset-form-input>

      <!-- Standard License -->
      <edit-asset-form-input
        label="Standard License"
        fieldId="create-asset-form-standard-license"
        placeholder="https://"
        tooltip="URL of the license under which the data is offered."
        [ctrl]="form.general.controls.standardLicense"></edit-asset-form-input>

      <!-- Conditions for use -->
      <edit-asset-form-textarea
        *ngIf="form.advanced"
        textareaClasses="h-28"
        label="Conditions for use"
        fieldId="create-asset-form-conditions-for-use"
        [ctrl]="form.advanced.controls.conditionsForUse"
        [placeholder]="
          '# My Asset\n\nAt vero eos et accusam et justo duo dolores et ea rebum.\n\n## Details\n\nAt vero eos et accusam et justo duo dolores et ea **rebum**.'
        ">
        <div class="flex flex-row items-center gap-1 mb-1">
          Additional not legally relevant usage instructions (e.g. how to cite
          the dataset). The field supports
          <a
            class="link"
            externalLink
            href="https://www.markdownguide.org/basic-syntax/"
            >Markdown syntax</a
          >
        </div>
      </edit-asset-form-textarea>
    </edit-asset-form-group>

    <edit-asset-form-group
      *ngIf="form.mode === 'CREATE'"
      [myTitle]="'general.publishing' | translate"
      [description]="'general.pub_desc' | translate">
      <!-- Publish Mode -->
      <div *ngIf="form.all.controls.publishMode; let ctrl">
        <edit-asset-form-label
          htmlFor="create-asset-form-publish-type"
          [label]="'general.pub_mode' | translate"
          [ctrl]="ctrl"></edit-asset-form-label>
        <mat-radio-group
          class="!flex !flex-col !gap-1 w-full mt-2"
          aria-label="Select an option"
          [formControl]="ctrl">
          <mat-radio-button value="PUBLISH_UNRESTRICTED">
            {{ 'general.pub_unrestr' | translate }}
            <button
              class="!scale-[0.9]"
              mat-icon-button
              matSuffix
              matTooltipPosition="right"
              matTooltip="Your data offer is published and can be accessed by everyone.">
              <mat-icon>info_outline</mat-icon>
            </button>
          </mat-radio-button>
          <mat-radio-button value="PUBLISH_RESTRICTED">
            {{ 'general.pub_restr' | translate }}
            <button
              class="!scale-[0.9]"
              mat-icon-button
              matSuffix
              matTooltipPosition="right"
              matTooltip="Your data offer is published with restrictions of your choice.">
              <mat-icon>info_outline</mat-icon>
            </button>
          </mat-radio-button>
          <mat-radio-button value="DO_NOT_PUBLISH">
            {{ 'general.pub_asset_only' | translate }}
            <button
              class="!scale-[0.9]"
              mat-icon-button
              matSuffix
              matTooltipPosition="right"
              matTooltip="Create the asset but do not publish your data offer. You can do it later.">
              <mat-icon>info_outline</mat-icon>
            </button>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Policy Expression -->
      <div *ngIf="form.all.controls.publishMode.value === 'PUBLISH_RESTRICTED'">
        <edit-asset-form-label
          [label]="'policy_definition_page.expression' | translate"
          [ctrl]="form.all.controls.policyControls"></edit-asset-form-label>
        <policy-form-expression
          [treeNode]="expressionFormHandler.tree.root"></policy-form-expression>
      </div>
    </edit-asset-form-group>

    <button
      class="w-40 h-10 self-end"
      mat-raised-button
      color="primary"
      [disabled]="!form.all.valid || isLoading"
      (click)="$event.preventDefault(); submitClicked.emit()">
      {{
        form.mode === 'CREATE'
          ? form.all.controls.publishMode.value === 'DO_NOT_PUBLISH'
            ? 'Create'
            : 'Publish'
          : 'Update'
      }}
    </button>
  </form>
</div>
