<div id="wrapper">
  <div class="flex flex-row">
    <!-- Search -->
    <mat-form-field
      class="search-form-field"
      appearance="outline"
      color="accent">
      <mat-label>Search contract agreements...</mat-label>
      <input matInput [formControl]="searchText" />
      <mat-icon matPrefix>search</mat-icon>
      <button
        *ngIf="searchText.value"
        mat-icon-button
        matSuffix
        (click)="searchText.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Spacer -->
    <div class="grow"></div>

    <!-- Paginator -->
    <mat-paginator
      *ngIf="page.isReady"
      [hidePageSize]="true"
      [disabled]="true"
      [pageSize]="page.data.contractAgreements.length"
      [length]="page.data.numTotalContractAgreements"></mat-paginator>
  </div>

  <div class="flex flex-row justify-center">
    <edc-demo-loading-state
      *ngIf="page.isLoading"
      class="min-h-[35rem]"></edc-demo-loading-state>
    <edc-demo-error-state
      *ngIf="page.isError"
      class="min-h-[35rem]"
      [error]="page.errorOrUndefined"></edc-demo-error-state>
    <edc-demo-empty-state
      *ngIf="page.isReady && !page.data.numTotalContractAgreements"
      class="min-h-[35rem]"
      [emptyMessage]="'No contract agreements yet.'"></edc-demo-empty-state>
    <edc-demo-empty-state
      *ngIf="
        page.isReady &&
        page.data.numTotalContractAgreements &&
        !(
          page.data.consumingContractAgreements.length +
          page.data.providingContractAgreements.length
        )
      "
      class="min-h-[35rem]"
      [emptyMessage]="
        'No contract agreements found with given filter.'
      "></edc-demo-empty-state>
  </div>

  <div
    *ngIf="page.isReady && !!page.data.contractAgreements.length"
    class="flex flex-col space-y-[20px]">
    <edc-demo-contract-agreement-cards
      *ngIf="page.data.consumingContractAgreements.length"
      [contractAgreements]="page.data.consumingContractAgreements"
      (contractAgreementClick)="
        onContractAgreementClick($event)
      "></edc-demo-contract-agreement-cards>

    <ng-container *ngIf="page.data.providingContractAgreements.length">
      <edc-demo-horizontal-section-divider text="Providing Contract Agreements">
      </edc-demo-horizontal-section-divider>

      <edc-demo-contract-agreement-cards
        [contractAgreements]="page.data.providingContractAgreements"
        (contractAgreementClick)="
          onContractAgreementClick($event)
        "></edc-demo-contract-agreement-cards>
    </ng-container>
  </div>
</div>
