<div class="mat-card-header">
  <mat-icon
    *ngIf="data.mode === 'asset-details'"
    style="font-size: 40px; width: 40px; height: 40px; min-width: 40px">
    upload
  </mat-icon>
  <edc-demo-contract-offer-icon
    *ngIf="data.mode === 'contract-offer'"
    [contractOffer]="data.contractOffer!"></edc-demo-contract-offer-icon>
  <div class="mat-card-header-text">
    <div class="mat-card-title">
      {{ asset.name }}
    </div>
    <div class="mat-card-subtitle">
      {{ asset.id }}
    </div>
  </div>
</div>

<mat-dialog-content class="flex flex-col space-y-[10px]">
  <!-- Progress Bar -->
  <mat-progress-bar
    *ngIf="
      data.mode === 'contract-offer' &&
      contractNegotiationService.isBusy(data.contractOffer!)
    "
    color="primary"
    mode="indeterminate"></mat-progress-bar>

  <!-- Description -->
  <div class="whitespace-pre-line">
    {{ asset.description }}
    <i *ngIf="!asset.description">No description.</i>
  </div>

  <!-- Tag List -->
  <div *ngIf="asset.keywords.length">
    <mat-chip-list aria-label="Tags">
      <mat-chip *ngFor="let keyword of asset.keywords">{{ keyword }}</mat-chip>
    </mat-chip-list>
  </div>

  <!-- Properties -->
  <edc-demo-property-grid class="mt-[10px]" [props]="props">
  </edc-demo-property-grid>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="w-full flex flex-row justify-end">
    <div>
      <button mat-dialog-close mat-button [disabled]="loading">Close</button>

      <button
        *ngIf="data.allowDelete"
        mat-raised-button
        color="warn"
        [disabled]="loading"
        (click)="onDeleteClick()">
        Delete
      </button>

      <button
        *ngIf="data.mode === 'contract-offer'"
        mat-raised-button
        color="primary"
        [disabled]="negotiationState != 'ready'"
        [ngSwitch]="negotiationState"
        (click)="onNegotiateClick()">
        <ng-container *ngSwitchCase="'ready'">Negotiate</ng-container>
        <ng-container *ngSwitchCase="'negotiating'">
          Negotiating...
        </ng-container>
        <ng-container *ngSwitchCase="'negotiated'">
          Successfully Negotiated
        </ng-container>
      </button>
    </div>
  </div>
</mat-dialog-actions>
