<mat-dialog-content>

  <!--  ID -->
  <mat-form-field class="form-field-stretch" color="accent" id="form-field-id">
    <mat-label>ID</mat-label>
    <input [(ngModel)]="policyDefinition.uid" matInput required>
  </mat-form-field>

  <mat-form-field class="form-field" color="accent">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="policyType" required>
      <mat-option value="Time-Period-Restricted">
        Time-Period-Restricted
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="policyType == 'Time-Period-Restricted'">
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button (click)="onSave()" *ngIf="editMode" color="accent" mat-stroked-button >
    <mat-icon>save</mat-icon>
    Save
  </button>

  <button (click)="onSave()" *ngIf="!editMode" color="accent" mat-stroked-button>
    <mat-icon>add_circle_outline</mat-icon>
    Create
  </button>

  <button color="accent" mat-dialog-close="true" mat-stroked-button>
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
