.contract-card {
  width: 500px;
  margin-left: 15px;
  margin-top: 15px;
}
.contract-property-header{
  font-size: small;
}
.contract-property-value{
  font-weight: bold !important;
  font-size: larger;
}
.contract-card-footer{
  text-align: center;
  padding: 10px;
}
.card-actions{
  display: flex;
  justify-content: center;
}
