access_log /dev/stdout;
error_log /dev/stderr;
disable_symlinks if_not_owner;

server {
    listen ${NGINX_BIND}:${NGINX_PORT};
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
