<div class="flex flex-col mt-[10px]">
  <mat-form-field class="grow form-field" color="accent">
    <mat-label>{{ label }}</mat-label>
    <mat-select
      multiple
      [formControl]="control"
      [compareWith]="'assetId' | compareByField">
      <mat-option *ngFor="let asset of assets" [value]="asset">
        <div *ngIf="asset.title" class="flex flex-col">
          {{ asset.title }}
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex flex-row !space-x-[10px] items-start">
    <mat-card *ngFor="let asset of control.value">
      <mat-card-content>
        <a
          class="link"
          href="javascript:void(0)"
          (click)="onAssetClick(asset!!)">
          {{ asset.title }}
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
