<ng-container *ngIf="!contractOffers?.length">
  <div class="flex flex-row flex-wrap property-grid-group-title">
    Contract Offers
  </div>
  <i>No contract offers available.</i>
</ng-container>

<ng-container *ngFor="let contractOffer of contractOffers; let i = index">
  <div
    class="flex flex-row items-center space-x-[5px] property-grid-group-title">
    <span> Contract Offer {{ contractOffers.length >= 2 ? i + 1 : '' }} </span>

    <mat-progress-spinner
      *ngIf="contractNegotiationService.isBusy(contractOffer)"
      class="mat-icon-[14px]"
      diameter="14"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <property-grid
    [columns]="3"
    [props]="contractOffer.properties"></property-grid>

  <div *ngIf="contractOffers.length > 1" class="flex flex-row mt-[15px]">
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        contractNegotiationService.negotiationState(contractOffer) != 'ready'
      "
      [ngSwitch]="contractNegotiationService.negotiationState(contractOffer)"
      (click)="negotiateClick.emit(contractOffer)">
      <ng-container *ngSwitchCase="'ready'">Negotiate</ng-container>
      <ng-container *ngSwitchCase="'negotiating'">
        Negotiating...
      </ng-container>
      <ng-container *ngSwitchCase="'negotiated'">
        Successfully Negotiated
      </ng-container>
    </button>
  </div>
</ng-container>
