#wrapper {
  margin: 20px;
}

.contract-definition-card {
  width: 500px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main-property-icon {
  font-size: 12px;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
}

.card-actions {
  margin-left: 0;
}

.asset-property {
  font-weight: bold !important;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}

#create-button {
  margin-left: 10px;
}
