<div *ngIf="filteredAssets$ | async as assets" id="wrapper">
  <div class="flex flex-row !space-x-[10px] items-start">
    <!-- Search Bar -->
    <mat-form-field appearance="outline" class="search-form-field" color="primary">
      <mat-label>Search assets</mat-label>
      <input (input)="onSearch()" [(ngModel)]="searchText" matInput>
      <mat-icon matPrefix>search</mat-icon>
      <button *ngIf="searchText" (click)="searchText=''; onSearch()" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Create Button -->
    <button
      (click)="onCreate()"
      color="primary"
      id="create-button"
      mat-raised-button
      style="margin-top: 8px; height: 44px;"
    >
      <mat-icon>add_circle_outline</mat-icon>
      Create asset
    </button>

    <!-- Spacer -->
    <div class="grow"></div>

    <!-- Paginator -->
    <mat-paginator [length]="assets.length" hidePageSize="true" pageSize="contractDefinitions.length">
    </mat-paginator>
  </div>

  <edc-demo-asset-list [assets]="assets" (assetClick)="onAssetClick($event)"></edc-demo-asset-list>
</div>
