<h1 mat-dialog-title>Initiate Transfer</h1>
<mat-dialog-content class="w-[800px]">
  <form [formGroup]="form.all">
    <div class="section-title">Datasink</div>
    <div class="flex flex-col mt-[10px]">
      <!-- Data Address Type -->
      <data-address-type-select
        label="Type"
        mode="Datasink"
        [control]="
          form.all.controls.dataAddressType
        "></data-address-type-select>

      <!-- Datasink Config JSON (Json) -->
      <mat-form-field
        *ngIf="
          form.dataAddressType === 'Custom-Data-Address-Json' &&
            form.all.controls.dataDestination;
          let ctrl
        "
        color="accent">
        <mat-label>Custom Datasink Config (JSON)</mat-label>
        <textarea matInput [formControl]="ctrl" [placeholder]="'{}'"></textarea>
        <mat-error *ngIf="ctrl.invalid && ctrl.errors?.jsonInvalid">
          {{ validationMessages.invalidJsonMessage }}
        </mat-error>
      </mat-form-field>

      <!-- Source Endpoint (Rest-Api) -->
      <ng-container *ngIf="form.dataAddressType === 'Http'">
        <!-- Method (Rest-Api) -->
        <div class="flex flex-row space-x-[10px]">
          <!-- Method (Rest-Api) -->
          <mat-form-field
            *ngIf="form.all.controls.httpMethod; let ctrl"
            class="w-1/3">
            <mat-label>Method</mat-label>
            <mat-select [formControl]="ctrl">
              <mat-option *ngFor="let method of methods" [value]="method">{{
                method
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            *ngIf="form.all.controls.httpUrl; let ctrl"
            class="grow"
            color="accent">
            <mat-label>URL</mat-label>
            <input matInput [formControl]="ctrl" [placeholder]="'https://'" />
            <mat-error *ngIf="ctrl.invalid && ctrl.errors?.pattern">
              {{ validationMessages.invalidUrlMessage }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="section-title">Authentication</div>

        <!-- Add Authentication Button -->
        <div
          *ngIf="form.all.controls.httpAuthHeaderType.value === 'None'"
          class="flex flex-row mb-[10px]">
          <button
            mat-button
            color="primary"
            (click)="
              form.all.controls.httpAuthHeaderType.setValue('Vault-Secret')
            ">
            Add Authentication
          </button>
        </div>

        <!-- Auth Header Value Type -->
        <mat-form-field
          *ngIf="form.all.controls.httpAuthHeaderType.value !== 'None'"
          class="grow">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="form.all.controls.httpAuthHeaderType">
            <mat-option value="Vault-Secret">
              Header with Vault Secret
            </mat-option>
            <mat-option value="Value">Header with Value</mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="form.all.controls.httpAuthHeaderType.value !== 'None'"
          class="flex flex-row space-x-[10px]">
          <!-- Auth Header Name -->
          <mat-form-field class="w-1/3">
            <mat-label>Auth Header Name</mat-label>
            <input
              matInput
              placeholder="Authorization"
              [formControl]="form.all.controls.httpAuthHeaderName" />
          </mat-form-field>

          <!-- Auth Header Value -->
          <mat-form-field
            *ngIf="form.all.controls.httpAuthHeaderType.value === 'Value'"
            class="grow">
            <mat-label>Auth Header Value</mat-label>
            <input
              matInput
              placeholder="Bearer ..."
              [formControl]="form.all.controls.httpAuthHeaderValue" />
          </mat-form-field>

          <!-- Auth Header Secret Name -->
          <mat-form-field
            *ngIf="
              form.all.controls.httpAuthHeaderType.value === 'Vault-Secret'
            "
            class="grow">
            <mat-label>Vault Secret Name</mat-label>
            <input
              matInput
              placeholder="MySecret123"
              [formControl]="form.all.controls.httpAuthHeaderSecretName" />
          </mat-form-field>
        </div>

        <!-- Remove Authentication Button -->
        <div
          *ngIf="form.all.controls.httpAuthHeaderType.value !== 'None'"
          class="flex flex-row mb-[10px]">
          <button
            mat-button
            color="warn"
            (click)="form.all.controls.httpAuthHeaderType.setValue('None')">
            Remove Authentication
          </button>
        </div>

        <div class="section-title">Additional Headers</div>

        <div
          *ngFor="
            let header of form.all.controls.httpHeaders.controls;
            let i = index
          "
          class="flex flex-row space-x-[10px]">
          <!-- Header Name -->
          <mat-form-field class="w-1/3">
            <mat-label>Header Name</mat-label>
            <input
              matInput
              placeholder="Header"
              [formControl]="header.controls.headerName" />
          </mat-form-field>

          <!-- Header Value -->
          <mat-form-field class="grow">
            <mat-label>Header Value</mat-label>
            <input
              matInput
              placeholder="..."
              [formControl]="header.controls.headerName" />
          </mat-form-field>

          <!-- Header Delete Button -->
          <button
            mat-button
            color="warn"
            style="height: 54px; margin-top: 4px; margin-left: 8px"
            (click)="form.onHttpHeadersRemoveClick(i)">
            Remove
          </button>
        </div>

        <!-- Add Header Button -->
        <div class="flex flex-row mb-[10px]">
          <button
            mat-button
            color="primary"
            (click)="form.onHttpHeadersAddClick()">
            Add Additional Header
          </button>
        </div>

        <div class="section-title">Payload</div>

        <!-- Add Payload Button -->
        <div class="flex flex-row mb-[10px]">
          <button
            *ngIf="!form.all.controls.httpRequestBodyEnabled.value"
            mat-button
            color="primary"
            (click)="form.all.controls.httpRequestBodyEnabled.setValue(true)">
            Add Payload
          </button>
        </div>

        <ng-container *ngIf="form.all.controls.httpRequestBodyEnabled.value">
          <!-- Request Content Type -->
          <mat-form-field class="grow">
            <mat-label>Content Type</mat-label>
            <input
              matInput
              [formControl]="form.all.controls.httpContentType"
              [placeholder]="'application/json'" />
          </mat-form-field>

          <!-- Request Body -->
          <mat-form-field
            *ngIf="form.all.controls.httpRequestBodyValue; let ctrl">
            <mat-label>Body</mat-label>
            <textarea
              matInput
              placeholder='{"some": "JSON"}'
              [formControl]="ctrl"></textarea>
          </mat-form-field>
        </ng-container>

        <!-- Remove Payload Button -->
        <div class="flex flex-row mb-[10px]">
          <button
            *ngIf="form.all.controls.httpRequestBodyEnabled.value"
            mat-button
            color="warn"
            (click)="form.all.controls.httpRequestBodyEnabled.setValue(false)">
            Remove Payload
          </button>
        </div>
      </ng-container>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex flex-row justify-end">
  <button mat-dialog-close mat-button color="default" [disabled]="loading">
    Cancel
  </button>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!form.all.valid || loading"
    (click)="onSave()">
    Create
  </button>
</mat-dialog-actions>
