<mat-card
  *ngFor="let connector of connectors"
  class="asset-card !flex !flex-col">
  <mat-card-header class="header-content">
    <icon-with-online-status
      mat-card-avatar
      mainIcon="link"
      [onlineStatus]="connector.onlineStatus">
    </icon-with-online-status>

    <mat-card-title>
      {{ connector.organizationName }}
    </mat-card-title>
    <mat-card-subtitle>{{ connector.participantId }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="flex flex-col space-y-[16px] mt-auto">
    <div class="flex flex-row space-x-[10px] justify-between">
      <!-- Created At -->
      <div class="flex flex-col flex-grow">
        <div class="text-slate text-sm uppercase tracking-wider">Created</div>
        <div>
          <ago [date]="connector.createdAt"></ago>
        </div>
      </div>

      <!-- Status -->
      <div class="flex flex-col text-center">
        <div class="text-slate text-sm uppercase tracking-wider">Status</div>
        <div class="text-right">
          {{ connector.onlineStatus === 'ONLINE' ? 'Online' : 'Offline' }}
        </div>
      </div>
    </div>
    <div class="flex flex-row space-x-[10px] justify-between">
      <!-- Last Successful Refresh At -->
      <div class="flex flex-col">
        <div class="text-slate text-sm uppercase tracking-wider">
          Last Refresh
        </div>
        <div>
          <ago [date]="connector.lastSuccessfulRefreshAt"></ago>
          <ng-container *ngIf="!connector.lastSuccessfulRefreshAt">
            Never
          </ng-container>
        </div>
      </div>

      <!-- Num Data Offers -->
      <div class="flex flex-col text-center">
        <div class="text-slate text-sm uppercase tracking-wider">
          Data Offers
        </div>
        <div class="text-right">
          {{ connector.numDataOffers | number }}
        </div>
      </div>
    </div>

    <!-- Endpoint URL -->
    <div class="flex flex-col">
      <div class="text-slate text-sm uppercase tracking-wider">Endpoint</div>
      <div>
        {{ connector.endpoint }}
      </div>
    </div>
  </mat-card-content>
</mat-card>
