<div id="wrapper">
  <div class="flex flex-row">
    <!-- Search Bar -->
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Search catalog</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
      <button
        *ngIf="searchText"
        mat-icon-button
        matSuffix
        (click)="searchText = ''; onSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Connector Endpoints -->
    <mat-form-field
      class="search-form-field mat-hint-text-ellipsis"
      color="accent"
      style="margin-left: 15px">
      <mat-label>Connector Endpoints</mat-label>
      <mat-icon matPrefix>link</mat-icon>
      <input
        matInput
        placeholder="https://other-connector.com/control/api/v1/ids/data, ..."
        [(ngModel)]="customProviders"
        (input)="onCatalogUrlsChange()" />
      <mat-hint
        *ngIf="presetProvidersMessage"
        [matTooltip]="presetProvidersMessage"
        >{{ presetProvidersMessage }}</mat-hint
      >
    </mat-form-field>

    <!-- Spacer -->
    <div style="flex-grow: 1"></div>

    <!-- Pagination -->
    <mat-paginator
      *ngIf="contractOffersList.isReady"
      hidePageSize="true"
      pageSize="filteredContractOffers.length"
      [length]="contractOffersList.data.filteredContractOffers.length">
    </mat-paginator>
  </div>
  <div class="flex flex-row justify-center">
    <edc-demo-loading-state
      *ngIf="contractOffersList.isLoading"
      class="min-h-[35rem]"></edc-demo-loading-state>
    <edc-demo-error-state
      *ngIf="contractOffersList.isError"
      class="min-h-[35rem]"
      [errorMessage]="
        contractOffersList.error.failureMessage
      "></edc-demo-error-state>
    <edc-demo-empty-state
      *ngIf="
        contractOffersList.isReady &&
        (!contractOffersList.data.numTotalContractOffer ||
          !contractOffersList.data.filteredContractOffers.length)
      "
      class="min-h-[35rem]"
      [emptyMessage]="
        'No contract offers found with this filter'
      "></edc-demo-empty-state>
  </div>
  <div
    *ngIf="
      contractOffersList.isReady &&
      !!contractOffersList.data.numTotalContractOffer
    "
    class="flex flex-row flex-wrap">
    <edc-demo-contract-offer-list
      *ngIf="contractOffersList.data.numTotalContractOffer"
      [contractOffers]="contractOffersList.data.filteredContractOffers"
      (contractOfferClick)="
        onContractOfferClick($event)
      "></edc-demo-contract-offer-list>
  </div>
</div>
