#wrapper {
  margin: 20px;
}

.asset-card {
  width: 380px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.main-property-icon {
  font-size: 12px;
}

:host ::ng-deep div.mat-expansion-panel-body {
  padding-left: 0 !important;
}

.search-form-field {
  min-width: 200px;
  width: 30%;
}

.card-actions {
  margin-left: 0;
  display: flex;
  justify-content: center;
}

.asset-property-name {
  font-weight: bold !important;
}

mat-paginator {
  display: inline-block;
  background-color: transparent;
}
