<div id="wrapper">
  <div style="display: flex; flex-direction: row">
    <!-- Search Bar -->
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Search catalog</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
      <button
        *ngIf="searchText"
        mat-icon-button
        matSuffix
        (click)="searchText = ''; onSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Connector IDs / Catalog URLs -->
    <mat-form-field
      class="search-form-field mat-hint-text-ellipsis"
      color="accent"
      style="margin-left: 15px">
      <mat-label>Connector IDs</mat-label>
      <mat-icon matPrefix>link</mat-icon>
      <input
        matInput
        placeholder="https://other-connector.com/api/v1/ids/data"
        [(ngModel)]="customProviders"
        (input)="onCatalogUrlsChange()" />
      <mat-hint
        *ngIf="presetProvidersMessage"
        [matTooltip]="presetProvidersMessage"
        >{{ presetProvidersMessage }}</mat-hint
      >
    </mat-form-field>

    <!-- Spacer -->
    <div style="flex-grow: 1"></div>

    <!-- Pagination -->
    <mat-paginator
      hidePageSize="true"
      pageSize="filteredContractOffers.length"
      [length]="filteredContractOffers.length">
    </mat-paginator>
  </div>

  <edc-demo-contract-offer-list
    *ngIf="filteredContractOffers.length"
    [contractOffers]="filteredContractOffers"
    (contractOfferClick)="
      onContractOfferClick($event)
    "></edc-demo-contract-offer-list>
</div>
