<div id="wrapper">
  <div class="flex flex-row">
    <!-- Search -->
    <mat-form-field
      class="search-form-field"
      appearance="outline"
      color="accent">
      <mat-label>Search policies</mat-label>
      <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
      <mat-icon matPrefix>search</mat-icon>
      <button
        *ngIf="searchText"
        mat-icon-button
        matSuffix
        (click)="searchText = ''; onSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Create Button -->
    <button
      id="create-button"
      color="primary"
      mat-raised-button
      style="margin-top: 8px; height: 44px"
      (click)="onCreate()">
      <mat-icon>add_circle_outline</mat-icon>
      Create policy
    </button>

    <!-- Spacer -->
    <div class="grow"></div>

    <!-- Paginator -->
    <mat-paginator
      *ngIf="policyList.isReady"
      [hidePageSize]="true"
      [disabled]="true"
      [pageSize]="policyList.data.policyCards.length"
      [length]="policyList.data.numTotalPolicies"></mat-paginator>
  </div>

  <div class="flex flex-row justify-center">
    <edc-demo-loading-state
      *ngIf="policyList.isLoading"
      class="min-h-[35rem]"></edc-demo-loading-state>
    <edc-demo-error-state
      *ngIf="policyList.isError"
      class="min-h-[35rem]"
      [error]="policyList.errorOrUndefined"></edc-demo-error-state>
    <edc-demo-empty-state
      *ngIf="
        policyList.isReady &&
        (!policyList.data.numTotalPolicies ||
          !policyList.data.policyCards.length)
      "
      class="min-h-[35rem]"
      [emptyMessage]="
        'No policy found with given filter.'
      "></edc-demo-empty-state>
  </div>
  <edc-demo-policy-cards
    *ngIf="policyList.isReady && !!policyList.data.numTotalPolicies"
    [policyCards]="policyList.data.policyCards"
    [deleteBusy]="deleteBusy"
    (deleteDone)="refresh()"></edc-demo-policy-cards>
</div>
