<div *ngIf="filteredPolicies$ | async as policyDefinitions" id="wrapper">
  <div class="flex flex-row">
    <!-- Search -->
    <mat-form-field
      class="search-form-field"
      appearance="outline"
      color="accent">
      <mat-label>Search policies</mat-label>
      <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
      <mat-icon matPrefix>search</mat-icon>
      <button
        *ngIf="searchText"
        mat-icon-button
        matSuffix
        (click)="searchText = ''; onSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Create Button -->
    <button
      id="create-button"
      color="primary"
      mat-raised-button
      style="margin-top: 8px; height: 44px"
      (click)="onCreate()">
      <mat-icon>add_circle_outline</mat-icon>
      Create policy
    </button>

    <!-- Spacer -->
    <div class="grow"></div>

    <!-- Paginator -->
    <mat-paginator
      hidePageSize="true"
      pageSize="10"
      [length]="policyDefinitions?.length"></mat-paginator>
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around stretch">
    <mat-card *ngFor="let policyDef of policyDefinitions" class="policy-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>policy</mat-icon>
        <mat-card-title
          ><span class="code">{{ id(policyDef) }}</span></mat-card-title
        >
      </mat-card-header>

      <mat-card-content>
        <mat-list dense>
          <mat-list-item>
            <mat-icon mat-list-icon>trip_origin</mat-icon>
            <div mat-line>{{ policyDef.policy.assigner || 'n/a' }}</div>
            <div mat-line>Assigner</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>adjust</mat-icon>
            <div mat-line>{{ policyDef.policy.assignee || 'n/a' }}</div>
            <div mat-line>Assignee</div>
          </mat-list-item>
        </mat-list>

        <!-- Permissions-->
        <policy-rules
          [rules]="policyDef.policy.permissions"
          [title]="'Permissions'"></policy-rules>

        <!-- Obligations-->
        <policy-rules
          [rules]="policyDef.policy.obligations"
          [title]="'Obligations'"></policy-rules>

        <!-- Prohibitions-->
        <policy-rules
          [rules]="policyDef.policy.prohibitions"
          [title]="'Prohibitions'"></policy-rules>
      </mat-card-content>
      <button
        mat-stroked-button
        color="warn"
        matSuffix
        (click)="delete(policyDef)">
        <mat-icon>delete</mat-icon>
        Delete
      </button>
      <mat-card-actions></mat-card-actions>
    </mat-card>
  </div>
</div>
