<mat-card *ngFor="let dataOffer of dataOffers" class="asset-card">
  <ng-container *ngIf="dataOffer.asset; let asset">
    <mat-card-header>
      <icon-with-online-status
        mat-card-avatar
        mainIcon="sim_card"
        [onlineStatus]="dataOffer.connectorOnlineStatus">
      </icon-with-online-status>
      <mat-card-title>
        <a
          class="link"
          href="javascript:void(0)"
          (click)="dataOfferClick.emit(dataOffer)">
          {{ asset.name }}
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ asset.creatorOrganizationName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col space-y-[16px]">
      <!-- Description -->
      <div
        *ngIf="asset.description"
        class="whitespace-pre-line truncate-lines-5">
        {{ asset.description }}
      </div>

      <!-- Tag List -->
      <div *ngIf="asset.keywords?.length || asset.version">
        <mat-chip-list aria-label="Tags">
          <mat-chip *ngIf="asset.version" color="primary" selected>{{
            asset.version
          }}</mat-chip>
          <mat-chip *ngFor="let keyword of asset.keywords">{{
            keyword
          }}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </ng-container>
</mat-card>
