server {
      listen       ${NGINX_PORT};
      server_name  ${NGINX_SERVER_NAME};

      root   /usr/share/nginx/html;
      index  index.html;

      location / {
          try_files $uri $uri/ /index.html;
      }
}
