@forward 'theme';
@forward 'tailwind';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code {
  font-family: monospace;
  font-size: larger;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-hint-text-ellipsis {
  mat-hint {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.truncate-lines-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.asset-card {
  width: 300px;
}

.list-style-material-icons-check {
  list-style-type: none;
  padding-inline-start: 8px;

  li {
    margin-top: 8px;

    &:before {
      margin-right: 8px;
      content: 'check';
      font-family: 'Material Icons';
    }
  }
}

.form-section-title {
  margin: 16px 3px;
  text-transform: uppercase;
  color: #373737;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.property-grid-group-title {
  margin: 30px 3px 15px 3px;
  text-transform: uppercase;
  color: #373737;
  font-size: 14px;
  letter-spacing: 0.05em;
}

.mat-form-field-any-size-hint .mat-form-field-subscript-wrapper {
  position: unset !important;
}

// hrefs
.link {
  color: var(--link-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.flex-even-sized {
  flex: 1 1 0;
}

.text-slate {
  color: rgba(0, 0, 0, 0.54);
}

.text-warn {
  color: var(--warn-color);
}

.bg-muted {
  background: rgba(0, 0, 0, 0.12);
}

.text-sm {
  font-size: 0.8em;
}

.mat-icon-\[80px\] {
  font-size: 80px !important;
  width: 80px !important;
  height: 80px !important;
}

.mat-icon-\[14px\] {
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
}

.mat-icon-\[28px\] {
  font-size: 28px !important;
  width: 28px !important;
  height: 28px !important;
  line-height: 28px !important;
}

.mat-card-header-text {
  overflow-wrap: break-word;
  overflow: hidden;
}
