@use "theme-colors" as colors;
@forward "theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.snackbar-info-style {
  background-color: orange;
  color: black;
}

.snackbar-error-style {
  background-color: crimson;
  color: black;
}

.code {
  font-family: monospace;
  font-size: larger;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.mat-hint-text-ellipsis {
  mat-hint {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.truncate-lines-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.asset-card {
  width: 300px;
}

// hrefs
.link {
  color: colors.$link-color;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

/*
  Tailwind Style Utility Classes
 */

.w-full {
  width: 100%;
}

.w-1\/3 {
  width: calc(100% / 3);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-x-\[5px\] > * + * {
  margin-left: 5px;
}

.space-x-\[10px\] > * + * {
  margin-left: 10px;
}

.\!space-x-\[10px\] > * + * {
  margin-left: 10px !important;
}

.space-y-\[10px\] > * + * {
  margin-top: 10px;
}

.space-y-\[16px\] > * + * {
  margin-top: 16px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.gap-\[10px\] {
  margin: -10px;

  & > * {
    margin: 10px;
  }
}

// See https://tailwindcss.com/docs/flex-direction
.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

// See https://tailwindcss.com/docs/flex-grow
.grow {
  flex-grow: 1;
}

// See https://tailwindcss.com/docs/align-items
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

// See https://tailwindcss.com/docs/justify-content
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

// See https://tailwindcss.com/docs/background-color
.bg-white {
  background: white;
}

// See https://tailwindcss.com/docs/text-color
.text-black {
  color: black;
}

.text-slate {
  color: rgba(0, 0, 0, 0.54);;
}

// See https://tailwindcss.com/docs/font-size
.text-sm {
  font-size: 0.8em;
}

// See https://tailwindcss.com/docs/text-align
.text-center {
  text-align: center;
}

// See https://tailwindcss.com/docs/whitespace
.whitespace-pre-line {
  white-space: pre-line;
}

// See https://tailwindcss.com/docs/word-break
.break-all {
  word-break: break-all;
}

// See https://tailwindcss.com/docs/text-transform
.uppercase {
  text-transform: uppercase;
}
