@use 'sass:map';
@use '@angular/material' as mat;
@use 'theme-colors' as colors;

// Import styles that aren't theme dependant (including typography)
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$custom-typography: mat.define-typography-config($font-family: 'Open Sans');
@include mat.core($custom-typography);

// Import theme and theme-dependant styles
@include mat.all-component-themes(colors.$theme);

// fix paginator background, it was white before, but our background is gray
mat-paginator {
  background: transparent !important;
}

// Fix Icon sizes used in card avatars
mat-icon[mat-card-avatar] {
  font-size: 40px;
}
