@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "~@angular/material/theming";

@include mat-core();

//default theme {
$theming-material-components-primary: mat-palette($mat-teal);
$theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
$theming-material-components-warn: mat-palette($mat-red);

$theming-material-components-theme: mat-dark-theme(
    $theming-material-components-primary,
    $theming-material-components-accent,
    $theming-material-components-warn
);

@include angular-material-theme($theming-material-components-theme);
//}

.theme-1 {
  // use default
}

.theme-2 {
  $theming-material-components-primary: mat-palette($mat-light-blue);
  $theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-dark-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

.theme-3 {
  $theming-material-components-primary: mat-palette($mat-light-green);
  $theming-material-components-accent: mat-palette($mat-orange, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-dark-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

//Theming done with http://mcg.mbitson.com
.theme-sovity {
  $mat-sovity-primary: (
    50 : #e0e5ec,
    100 : #b3bed0,
    200 : #8092b1,
    300 : #4d6691,
    400 : #26467a,
    500 : #002562,
    600 : #00215a,
    700 : #001b50,
    800 : #001646,
    900 : #000d34,
    A100 : #6c80ff,
    A200 : #3954ff,
    A400 : #0628ff,
    A700 : #0020eb,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
  );

  $mat-sovity-accent: (
    50 : #f2fef9,
    100 : #dffcf0,
    200 : #cafbe7,
    300 : #b5f9dd,
    400 : #a5f7d5,
    500 : #95f6ce,
    600 : #8df5c9,
    700 : #82f3c2,
    800 : #78f2bc,
    900 : #67efb0,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fafffd,
    A700 : #e0fff1,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
  );

  $theming-material-components-primary: mat-palette($mat-sovity-primary);
  $theming-material-components-accent: mat-palette($mat-sovity-accent, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-light-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

// theme set as per http://mcg.mbitson.com/#!?mcgpalette0=%23ffff00&themename=mds
.theme-mds {
  $mat-mds-primary: (
    50 : #ffffe0,
    100 : #ffffb3,
    200 : #ffff80,
    300 : #ffff4d,
    400 : #ffff26,
    500 : #ffff00,
    600 : #ffff00,
    700 : #ffff00,
    800 : #ffff00,
    900 : #ffff00,
    A100 : #ffffff,
    A200 : #fffff2,
    A400 : #ffffbf,
    A700 : #ffffa6,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
  );

  $mat-mds-accent: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
  );

  $theming-material-components-primary: mat-palette($mat-mds-primary);
  $theming-material-components-accent: mat-palette($mat-mds-accent, A200, A100, A400);
  $theming-material-components-warn: mat-palette($mat-red);

  $theming-material-components-theme: mat-light-theme(
      $theming-material-components-primary,
      $theming-material-components-accent,
      $theming-material-components-warn
  );

  @include angular-material-theme($theming-material-components-theme);
}

$custom-typography: mat.define-typography-config($font-family: 'Open Sans');
@include mat.core($custom-typography);

:root {
  --theme-color-primary: #{mat-color($theming-material-components-primary)};
  --theme-color-accent: #{mat-color($theming-material-components-accent)};
  --theme-color-warn: #{mat-color($theming-material-components-warn)};
}
