<div id="wrapper">
  <div class="flex flex-row">
    <!-- Search Bar -->
    <mat-form-field class="search-form-field" color="accent">
      <mat-label>Search Connectors</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="searchText" />
      <button
        *ngIf="searchText.value"
        mat-icon-button
        matSuffix
        (click)="searchText.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- Spacer -->
    <div style="flex-grow: 1"></div>
  </div>
  <div class="flex flex-row justify-center">
    <loading-state
      *ngIf="data.fetchedConnectors.isLoading"
      class="min-h-[35rem]"></loading-state>
    <error-state
      *ngIf="data.fetchedConnectors.isError"
      class="min-h-[35rem]"
      [error]="data.fetchedConnectors.error"></error-state>
    <empty-state
      *ngIf="
        data.fetchedConnectors.isReady &&
        !data.fetchedConnectors.data.connectors.length
      "
      class="min-h-[35rem]"
      emptyMessage="No connectors found."></empty-state>
  </div>
  <div
    *ngIf="
      data.fetchedConnectors.isReady &&
      data.fetchedConnectors.data.connectors.length
    "
    class="flex flex-row flex-wrap">
    <connector-cards
      [connectors]="data.fetchedConnectors.data.connectors"></connector-cards>
  </div>
</div>
