<mat-form-field class="grow mb-2" appearance="outline" color="accent">
  <mat-label>{{ label }}</mat-label>
  <mat-chip-list
    #chipList
    aria-label="keyword selection"
    [formControl]="control">
    <mat-chip
      *ngFor="let keyword of control?.value ?? []"
      (removed)="remove(keyword)">
      {{ keyword }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Add keyword..."
      [matChipInputAddOnBlur]="true"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
  </mat-chip-list>
  <button
    class="!scale-[0.9]"
    mat-icon-button
    matSuffix
    matTooltip="Keywords make the data offer easier to find.">
    <mat-icon>info_outline</mat-icon>
  </button>
</mat-form-field>
