name: Trivy License Scan

on:
  push:

jobs:
  license_scan1:
    name: License scan (rootfs)
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Run license scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "rootfs"
          scan-ref: "."
          scanners: "license"
          severity: "CRITICAL,HIGH"
          exit-code: 1
  license_scan2:
    name: License scan (repo)
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: npm install (typescript-client)
        run: cd connector/extensions/wrapper/clients/typescript-client && npm clean-install
      - name: npm install (typescript-client-example)
        run: cd connector/extensions/wrapper/clients/typescript-client-example && npm clean-install
      - name: npm install (client-ts)
        run: cd connector/extensions/broker-server-api/client-ts && npm clean-install
      - name: Run license scanner
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "repo"
          scan-ref: "."
          scanners: "license"
          severity: "CRITICAL,HIGH"
          exit-code: 1
