name: Trivy Security Scan

on:
  pull_request:
    branches: ["main"]

jobs:
  security_scan:
    name: security_scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run static analysis
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: "fs"
          scanners: "vuln,config"
          ignore-unfixed: true
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v2
        continue-on-error: true
        with:
          sarif_file: "trivy-results.sarif"
          category: "code"
