mat-dialog-content {
    width: 800px;
}

.form-field {
    margin-right: 10px;
    width: 390px;
}

.full-width-form-field {
    margin-right: 10px;
    height: 100px;
    width: 100%;
}

mat-card-actions {
    margin-left: 0;
}
