<mat-dialog-content>
  <div>
    <mat-form-field class="form-field" color="accent">
      <mat-label>Id</mat-label>
      <input [(ngModel)]="id" matInput>
    </mat-form-field>
    <mat-form-field class="form-field" color="accent">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="name" matInput>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="form-field" color="accent">
      <mat-label>Content Type</mat-label>
      <input [(ngModel)]="contenttype" matInput [placeholder]="'text/plain'">
    </mat-form-field>

    <mat-form-field class="form-field" color="accent">
      <mat-label>Version</mat-label>
      <input [(ngModel)]="version" matInput [placeholder]="'1.0'">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width-form-field" color="accent">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="description" matInput [placeholder]="'1.0'"></textarea>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="form-field" color="accent">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="type" required>
        <mat-option value="Json" style="background-color: white; color: black">
          Json
        </mat-option>
        <mat-option value="Rest-Api" style="background-color: white; color: black">
          Rest-Api
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-field" color="accent" *ngIf="type == 'Rest-Api'">
      <mat-label>Source Endpoint</mat-label>
      <input [(ngModel)]="baseUrl" matInput [placeholder]="'https://'">
    </mat-form-field>
  </div>
  <div *ngIf="type == 'Json'">
    <mat-form-field class="full-width-form-field" color="accent">
      <mat-label>Data Destination (JSON)</mat-label>
      <textarea [(ngModel)]="dataDestination" matInput [placeholder]="'{}'"></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>


<mat-dialog-actions>
    <button (click)="onSave()" color="accent" mat-stroked-button>
        <mat-icon>add_circle_outline</mat-icon> Create
    </button>

    <button color="accent" mat-dialog-close mat-stroked-button>
        <mat-icon>cancel</mat-icon> Cancel
    </button>
</mat-dialog-actions>
